{% extends "layout.html" %}

{% block content %}
    <h1>Bestellung bestätigt</h1>

    {% if relation_was_created %}

        <p>
            Du hast im Hive "{{ hive['title'] }}" erfolgreich bestellt.
        </p>

    {% else %}

        <p>
            Du hast in diesem Hive bereits eine Bestellung aufgegeben.
        </p>

    {% endif %}

    <p>
        Der Creator sieht dadurch, ob genug Bestellungen für die Produktion zusammenkommen.
    </p>

    <a class="button-link" href="/my-hives">
        Meine Hives ansehen
    </a>

    <br><br>

    <a class="button-link" href="/hives">
        Zurück zu allen Hives
    </a>
{% endblock %}