{% extends "layout.html" %}

{% block content %}

    <h1>Login</h1>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    <form method="POST">

        <div class="form-row">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div class="form-row">
            <label for="password">Passwort:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div class="form-actions">
            <button type="submit">Login</button>
        </div>

    </form>

{% endblock %}