{% extends "layout.html" %}

{% block content %}

<h1>Meine Hives</h1>

{% if hives %}

    {% for hive in hives %}
        <section class="hive-card">
            <h2>{{ hive["title"] }}</h2>

            <p>
                Bestellte Stückzahl:
                {{ hive["current_participants"] }}
                /
                {{ hive["min_participants"] }}
            </p>

            <p>
                Deadline:
                {{ hive["deadline"] }}
            </p>

            <a href="/hives/{{ hive['id'] }}">
                Zum Hive
            </a>
        </section>

        <hr>
    {% endfor %}

{% else %}

    <p>Du hast aktuell noch keine Bestellung in einem Hive aufgegeben.</p>

{% endif %}

{% endblock %}